
<h1 style="background-color: rgba(158, 203, 100, 0.755);">Soccer Teams</h1>
<div id="filter">
<input [(ngModel)]="findTitle"><button (click)="findContent()">Search</button>
<br>
<h1>{{message}}</h1>
</div>
<app-create-content (newContent)="acceptNewContent($event)"></app-create-content>

<div  id="none" >
<h1>No Type</h1>
<app-content-card   class="none" *ngFor="let item of (contentList | contentFilter :'' )" [content]="item"  [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult} " >
</app-content-card>
</div>

<div id ="Cup" >
<h1>Cup Type</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Cup')" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}" >
</app-content-card>
</div>

<div id ="League">
<h1>League Type</h1>
<app-content-card   *ngFor="let item of (contentList | contentFilter :'League' )" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}">
</app-content-card>
</div>
