
<h1 style="background-color: rgba(158, 203, 100, 0.755);">Soccer Teams</h1>
<div id="filter">
  <mat-form-field>
    <mat-label>Search for title</mat-label>
    <input matInput type="text" [(ngModel)]="findTitle" >
  </mat-form-field>
  <button mat-raised-button style="height: 50px;" (click)="findContent()">Search</button>
    <br>
    <h1>{{message}}</h1>
</div>
<!--<app-create-content (newContent)="acceptNewContent($event)"></app-create-content>
-->
<mat-form-field>
  <mat-label>Enter ID</mat-label>
  <input matInput type="text" [(ngModel)]="inputId" >
</mat-form-field>
<button mat-raised-button style="height: 50px; ;" (click)="fetchContentCard()">Get Content</button>

<div style="font-size: 20px; font-weight: 500; color: red;" > {{messageService.getMessage()}} </div>

<app-content-card class="singlecontent" [ngClass]="{'box-shadow': item}"style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);" [content] = "item">
</app-content-card>

<div *ngIf="item">
<button  mat-raised-button  type="button" class="clear"(click)="clearContent()">Clear content</button>
</div>

<div style="font-size: 15px; font-weight: 500;" *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <button mat-raised-button color="primary" type="button" 
            (click)="messageService.clear()">Clear messages</button>
           
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>

  <app-modify-content (addContentEvent)="addContentToList($event)"></app-modify-content>
<div  id="none" >

<h1>No Type</h1>
<div *ngIf="contentList.length == 0">
  <mat-spinner></mat-spinner>
</div>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'' )" [content]="item"  [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult} " >
</app-content-card>
</div>

<div id ="Cup" >
  
<h1>Cup Type</h1>
<div *ngIf="contentList.length == 0">
  <mat-spinner></mat-spinner>
</div>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Cup')" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}" >
</app-content-card>
</div>

<div id ="League">
<h1>League Type</h1>
<div *ngIf="contentList.length == 0">
  <mat-spinner></mat-spinner>
</div>
<app-content-card   *ngFor="let item of (contentList | contentFilter :'League' )" [content]="item" [ngClass]="{'highlight': item.title.toLowerCase() === findTitle.toLowerCase() && filterResult}">
</app-content-card>
</div>
