
.contents {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #240c0c;
    width: 680px;
  }
 
  img {height: 200px; width:200px;}
  

  
.first-item {

  border: 5px solid #240c0c;
}