<div  appHoverAffect [affectType]="'border'"  *ngIf ="content.type ==='Cup' || content.type === 'League' || content.type ==='' "  [ngStyle]="{'margin': '30px '  }">

<mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-subtitle>ID: {{content.id}}</mat-card-subtitle>
          <mat-card-title>{{content.title}}</mat-card-title>
          <mat-card-subtitle>Creator: {{content.creator}}</mat-card-subtitle>
        </mat-card-header>  
        <img mat-card-image src="{{content?.imgURL == '' ? defaultImage : content?.imgURL}}"
        alt="Avatar" matTooltip="Photo of {{content?.title}}" matTooltipPosition="above">
        <mat-card-content>
                <p>{{content?.description}}</p>
                <mat-chip-listbox *ngIf="content?.tags">
                  <mat-chip-option color="accent" *ngFor="let tag of content?.tags" disabled>{{tag}}</mat-chip-option>
                </mat-chip-listbox>
              </mat-card-content>
              <mat-card-actions>
            
              </mat-card-actions>
            </mat-card>
