.content {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1773c9;
    width: 900px;
  margin: 0 auto;
  
    form {
      width: 400px;
      border-radius: 5px;
      padding: 20px;
    }
  
    input,
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    button {
      width: 100%;
      background-color: #f1f3f6;
      color: blue;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #45a049;
    }
  }